{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('settings') }}" method="POST">
        <div class="form-group">
            <label for="model">Select Model To Use:</label>
            <select class="form-control" name="model" id="model">
                <option value="inception">Inception V3</option>
                <option value="resnet">Resnet50 (using bottleneck features as
                input)</option>
            </select>
            <p class="help-block">
            The Inception model takes longer to load since it's loading the
            whole architecture and weights but inference will be
            faster.<br/><br/>On the other hand, the Resnet50
            loads a smaller architecture but inference is slower because it
            needs to extract bottleneck features on the Keras Resnet50 model
            before doing predictions.
            </p>
            <label class="btn btn-primary">
                Submit<input type="submit" value="settings" style="display:
                none;">
            </label>
        </div>
    </form>
{% endblock %}
